@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerClass {
  background-image: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.8)), url('./images/background.jpeg');
  background-size: cover;
  background-repeat: repeat;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
}

.content {
  color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.intro{
  font-family: Courier Prime, sans-serif;
  font-size: 1em;
}


.marginTop {
  margin-top: 5%;
}
.topRow{
  margin-top: 15vh;
}
.logInTop{
  margin-top: 25vh;
}

.titles{
  margin-top: 15px;
}
.title {
  color: white;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 50pt;
  font-family: 'Montserrat Subrayada', sans-serif;
}
.titleSignIn{
  margin-top: 15px;
  font-size: 50pt;
}

.timer {
  color: white;
  margin-top: 2% !important;
  font-size: 50pt;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.copyRight {
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  font-weight: 300;
  font-size: 12px;
  text-transform: capitalize;
}

.buttons{
  margin-top: 40px;
}
.signUpButton {
  color: black;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  text-transform: uppercase;
  padding : 15px;
  width: 15%;
  border: none;
  font-size: 20pt;
}
.signInButton{
  margin-top: 50px;
}


.signUpHeader{
  font-family:'Montserrat', sans-serif;
  font-size: 1.8em;
  margin-top: 20px;
  float: left;
  width: 500px;
  margin-left: 20px;
}
.logInOption{
  font-family:'Montserrat', sans-serif;
  margin-left: 20px;
  font-size: 1em;
}

.marginBetween {
  margin-top: 2%;
  margin-left: 20px;
  color: black;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #000;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: black;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.formButton {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input{
  height: 30px;
  width: 400px;
  font-family: Courier New, sans-serif;
}

input[type="text"]
{
  font-family: Courier New, sans-serif;
}

.bgModal {
  background-color: #adadad;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.modalWidth {
  min-width: 70%;
  min-height: 20%;
}

.modalButton {
  width: 20%;
  background-color: white;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
}

.errorStyle {
  margin-left: 12%;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: white;
}

.duplicateEmailError {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 20px;
}

.modalErrorStyle {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: white;
}

.agreementErrorStyle {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.noStyle {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white !important;
  text-decoration: none !important;
}

.quizSelectedColor {
  background-color: #1C1C1C;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  /*font-weight: bolder;*/
}

.quizSelectedColor:hover {
  background-color: #1C1C1C;
  cursor: pointer;
  /*font-weight: bolder;*/
}

.quizDefaultColor:hover {
  color: white;
  background-color: #1C1C1C;
  cursor: pointer;
  /*font-weight: bolder;*/
}

.quizDefaultColor {
  color: #1C1C1C;
  font-size: 20px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.newFont {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}
.link{
  padding: 5px 10px;
  border: none;
}
.link:hover{
  text-decoration: underline;
}

.confirmation {
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.marginTopConfirmation {
  margin-top: 20%;
}

.modalText {
  height : 600px;
  overflow-y: scroll;
}

.loginLink {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
}

.quizQuestion {
  font-size: 20px;
  color: white;
}

.quizChosenAnswer {
  font-size: 20px;
  color: #1C1C1C;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.quizDescription {
  font-size: 20px;
  color: #1C1C1C;
  font-weight: bold;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  padding: 30px;
}

.missionButton:hover{
  color: white;
  background-color: black;
}

.missionButton{
  font-family: Courier New, monospace;
  font-size: 1.3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 0px;
}

.agencyContainer{
  background-size: cover;
  background-repeat: repeat;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.footer{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 43%;
  bottom: 10px;
  text-align: center;
}

.quizQuestionNo {
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.closeIcon {
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  font-size: large;
}

span.cls_004{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_004{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
